@inherits LayoutComponentBase
@namespace projeto_carlos.Components.Layout

<div class="min-h-screen bg-slate-50 flex items-center justify-center p-4 sm:p-8">
    
    <main class="w-full max-w-5xl">
        @Body
    </main>

</div>

<div class="fixed bottom-4 w-full text-center text-xs text-gray-400">
    &copy; @DateTime.Now.Year VitaFlow. Todos os direitos reservados.
</div>